*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"spartan", sans-serif;
}


 header{
    color: goldenrod;
  
    
    background-color: #ffddd2;
    font-size: 20px;
    text-align: center;
    display:flex;
    justify-content: center;
   padding-top:10px;
   
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
   
 }
 
 header > img{
    width:100px;
    height:50px;
   
 }
 header{
    animation-name: second;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
 }
 @keyframes second{
    0%{
        color:goldenrod;
    }
    25%{
        color:#1d180b;
        background-color:#ffddd2;
       
    }
 }
 @keyframes first{
    0%{
        left:0;
    }
    25%{
         left:260px;
    }
 }

 .logo{
    position:relative;
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
 }

 
 header + nav{
    gap:20px;
 }

  .btn{
    background-color: white;
    padding:10px;
    border-radius: 15px;
    width:100px

}

nav{
   display:flex;
   justify-content: space-evenly;

   align-items: center;
   padding:10px;
  
  
   box-shadow: 1px 4px 3px 3px gray;
   background-color: white;
   
}

h1{
    font-size: 40px;;
}
.btn:hover{
    color:white;
    background-color: rgb(56, 41, 41);
}

.menu{
    display:none !important;
}

.icons > span{
    background-color: #1d180b;
    border-radius: 50%;
    padding:5px;
    cursor: pointer;
   


}
.icons > .material-symbols-outlined{
    color:white;
}
.heading{
    position: sticky;
    top:0;
    left:0;
    z-index: 999;
}
.nav-bar{
     
    color:#1d180b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
    .nav-bar {
        display:none;
      background-color: lightblue;
    }
    .menu{
        display:inline-flex !important;
        float: right;
        gap:10px;
    }
    
   
    }
  
@media only screen and (max-width:800px){
    .feature{
        display:grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }
    .card-container>.card{
        display:flex;
        flex-direction: column;
    }
   


}


 /*------------------------Main body----------------------*/
  #main {
    background-image: url(./images/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
  
#main button {
    background-image: url(./images/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
   padding:14px 80px 16px 64px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
@media(max-width:800px) {
    #main{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
}
}

/*----------------------------Features------------------------------------*/

#feature .feature-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

#feature .feature-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}


h6 {
    display: block;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
    font-weight: bold;
    
        font-weight: 700;
        font-size: 12px;
   
}


@media (max-width: 799px){
#feature{
    justify-content: center;
}
#feature .feature-box {
    margin: 15px 15px;
}

}


/*----------------------*/

.m-bg{
    background-image: url(./images/m\ background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
     text-align: center;
    padding-top:10px;
}
.card > img{
    width:100%;
    border-radius: 30px;
    
    overflow: clip;
}
.card {
  
   width:300px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;

    margin: 15px 0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    position: relative;
   
}

.card:hover{
   
   
    transform: scale(1.03);
    box-shadow: 4px 4px 3px 3px rgb(199, 194, 194);
}
.card > h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
.card-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
   
 
}

.w-bg{
font-size: 40px;
background-color: rgb(254,229,225);
text-align: center;
padding:20px;
background-image: url(./images/bg.jpg);
background-position-x: center;
background-repeat: no-repeat;

}
.kd-bg{
    background-image: url(./images/kd\ bg.jpg);
    padding:20px;
    text-align: center;
    background-repeat: repeat;
    background-size: 120px;
    font-size: 40px;
}

.background-img{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

/* ------------------OFFER BG-------------*/

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./images/bg3.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding:30px;
    color: white;
    font-weight: 600;
   
}
.section-p1 {
    padding: 40px 80px;
}
#sm-banner .banner-box2 {
    background-image: url(./images/bg4.jpg);

   
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
.banner-box button:hover{
    background-color: #088178;
}

@media (max-width: 799px){
#sm-banner .banner-box {
    min-width: 100%;
    height: 40vh;
}
.banner{
    width:30%
}

}

.offer-prize{
    display: flex;
   
   
    justify-content: space-evenly;
    align-items: flex-start;
   
   
}


.banner{
    background-image: url(./images/bg5.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;

    color:rgb(172, 53, 53);
    font-weight: 600;
    font-size: 20px;
}

.offer-prize .offer-bg4{
    background-image: url(./images/bg7.png);
}
.offer-prize .offer-bg5{
    background-image: url(./images/bg6.jpg);
}


.sign-up{
    background-color: #ffddd2;
    background-size: 400px;
    padding:30px;
    text-align: center;
   
}
.sign-up input {
    height:30px;
   border:none;
   padding:5px
    
}
.sign-up button{
    height:30px;
    background-color: #088178;
    color:white
}
.footer{
    display: flex;
    padding:40px;
   flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
    
}
footer .acc{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
}

.footer a{
    text-decoration: none;
    display:flex;
    flex-direction: row;
    color:rgb(94,114,104);
    
}
.footer span{
    color:rgb(94,114,104);
    
}

.pay > img{
   border:1px solid #088178;
   border-radius: 10px;
}
#acc{
    display:flex;
    flex-direction: column;
   gap:7px;
   flex-wrap: wrap;
}

.footer > a:hover{
    color:#088178
}